.container {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    color:gray;
    background-color: #12343b;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
.logo {
    font-weight: bold;
}
.text {
    font-size: 12px;
}